 body{
      cursor: url('Assets/PlaceholderCursor.png'),auto;
  }

.gridHead{
display: grid; 
grid-template-rows: 300px;
grid-template-columns: 50% 50%;
align-items: center;
justify-items: center;
padding: 10px;  

}

.gridBody{
  display: grid; 
grid-template-rows: 500px 500px;
grid-template-columns: 25% 25% 25% 25%;
align-items: center;
justify-items: center;
padding: 10px;  
background-color: rgb(255, 178, 231);


}

.headerImage{
  display: flex;
  grid-column: 1/4;
  grid-row: 1/1;
  border: solid rgb(127, 127, 127) 5px;
  height: 275px;
  width: 375px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.adoptionListBox{
  display: flex;
  height: 500px;
  width: 750px;
  background-color: white;
  grid-column: 1/3;
  grid-row: 1/2;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}

.factBox{
  display: flex;
  align-items: center;
  align-content: center;
  height: 250px;
  width: 500px;
  background-color: rgb(255, 189, 221);
  grid-row: 3/3;
  grid-column: 1/3;
}

.catPawImage{
  justify-self: left;
}
