.Header{
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BEADFA;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFF3DA;
}


.youtube{ 
    display: flex;
    justify-content: center;
    margin: 25px;
}


.button{
    display: flex;
    justify-content: center;
}

footer {
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div {
    display: flex;
    justify-content: space-between; 
}

.Header2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #DFCCFB;

}

.Header3 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: pink;
}
