.Header{
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
}

.pText {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3A4853;
    text-align: center;
    font-size: x-large;

}

.pContainer {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  border: 2px solid #000; /* Border properties */
  box-sizing: border-box; /* Include border in width/height calculations */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #97A2AE;
}


.youtube{ 
    display: flex;
    justify-content: center;
    margin: 25px;
}


.button{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;

}

footer > div {
    display: flex;
    justify-content: space-between; 
}

.Header2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1369A0;

}

.Header3 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #B65D68;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}