.header{
    justify-content: center;
    display: flex;
}

footer {
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer > div {
    display: flex;
    justify-content: space-between; 
  }


body{
grid-template-columns: 20%, 20%;  
}

.image-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-text-container img {
  width: 300px;
  height: 300px;
  border-radius: 75px;
}

.text-box {
  flex: 1;
  margin-left: 20px;
  text-align: left; /* Align text to the right */
  border: 1px solid #ddd; /* Add border */
  padding: 10px; /* Add padding */
  font-size: x-large;
}
